@import '../../styles/vars.scss';

.login {
    display: block;
    height: 100%;
    form {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        label {
            min-width: 100px;
            display: inline-block;
        }
    }
}
